[submodule "hifive"]
	path = hifive
	url = https://github.com/dvc94ch/hifive
[submodule "riscv-rt"]
	path = riscv-rt
	url = https://github.com/dvc94ch/riscv-rt
[submodule "riscv"]
	path = riscv
	url = https://github.com/dvc94ch/riscv
[submodule "e310x"]
	path = e310x
	url = https://github.com/dvc94ch/e310x
[submodule "riscv-rust-quickstart"]
	path = riscv-rust-quickstart
	url = https://github.com/dvc94ch/riscv-rust-quickstart
